Flask==3.0.3
Flask[async]==3.0.3
psycopg2==2.9.10
SQLAlchemy==2.0.41
alembic==1.13.1
google==3.0.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
aiofiles==24.1.0
asyncpg
quart==0.19.6
quart-cors==0.8.0
Werkzeug==3.0.3
pytz
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
apscheduler
blinker==1.8.2
uvicorn
